.housedesk-img{
    height: 350px;
    width: 550px;
    border-radius: 20px;
}
.housedesk{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin: 80px;
}
.housedesk-p{
    margin: 15px;
    margin-top: 60px;
}