.manage-img{
    height: 350px;
    width: 660px;
    border-radius: 20px;
}
.manage-cart{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 55px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
}
.edit-btn{
    border: none;
    background-color:rgba(56, 167, 56, 0.864) ;
    border-radius: 5px;
    color: aliceblue;
    margin: 5px;
}
.delete-btn{
    border: none;
    background-color:rgba(122, 19, 5, 0.864) ;
    border-radius: 5px;
    color: aliceblue;
    margin: 5px;
}
.add-item-btn{
    border: none;
    background-color:rgba(56, 167, 56, 0.864)  ;
    border-radius: 5px;
    color: aliceblue;
    margin: 15px;
}