.cart{
    
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 55px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;

    
   
 }
 .fruit-heading{
     margin-top: 60px;
 }
 @media only screen and (max-width:576px) {
    .cart{
     
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       gap: 0px;
       margin-top: 10px;
    }
 }
  @media only screen and (min-width: 577px) and (max-width: 992px) {
     .cart{
         grid-template-columns: repeat(2, 1fr);
     }
  } 